# The deploy.cfg file is located in the module top dir is a necessary file
# needed for deployments. This file contains config variables, such as 
# mongodb-host, mysqldb-host. Standard variable names are listed on the trac
# wiki at https://trac.kbase.us/projects/kbase/wiki/DeployCfgStandards
#
# The variables in the deploy.cfg file will get "injected" into the module
# makefile. In short, the variable is uppercased and dashes become underscores,
# so mongodb-host in the deploy.cfg file becomes MONGODB_HOST in the module
# makefile when the module makefile is invoked by the system make file at the
# top level of the dev container.
#
# Deployment configuration for the ProbModelSEED module
#
[ProbModelSEED]
fbajobcache=/disks/p3/fba/fbacache/
fbajobdir=/disks/p3/fba/fbajobs/
mfatoolkitbin=/disks/p3/deployment/bin/mfatoolkit
workspace-url=http://p3.theseed.org/services/Workspace
shock_url=http://p3.theseed.org/services/shock_api
data_api_url=https://www.patricbrc.org/api/
file_cache=/disks/p3/fba/filecache/
cache_targets=/chenry/public/modelsupport/biochemistry/default.biochem
search_program=usearch
search_program_path=/users/tfarrah/bin/usearch
search_program_evalue=1E-5
search_program_threads=4
usearch_accel=0.33
data_sources=cdm
load_data_option=preload
data_dir=/users/tfarrah/ProbAnno/data
work_dir=/users/tfarrah/ProbAnno/jobs
pseudo_count=40
dilution_percent=80
separator=///
biochemistry=/chenry/public/modelsupport/biochemistry/default.biochem
default_media=/chenry/public/modelsupport/patric-media/Complete
classifier=/chenry/public/modelsupport/classifiers/gramclassifier.string
template_dir=/chenry/public/modelsupport/templates/
mlog_log_level=6
mlog_log_file=/disks/p3/fba/fbajobs/ProbModelSEED.log
